
body{
  color: "black";
font-family:"Morina" ;

}



@font-face {
  font-family: 'Angelina';
  src: url('/public/fonts/Morina-6RaZD.otf') format('truetype');
} 



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
